@import "../theme/_fonts.scss";
@import "../theme/_colors.scss";

.component :global {
  ul{
    margin-top: 100px;
    font-size: 18px;
    list-style-type: none;
    padding-left: 0;
    li{
      display: inline-block;
      padding: 4px 20px 4px 20px;
      border-right: 1px solid #ddd;
      &:first-child{
        border-left: 1px solid #ddd;
      }
      a{
        color: $inactive;
        text-decoration: none;
        &:hover{
          color: $black;
        }
      }
    }
  }
}
