@import "../../../theme/_fonts.scss";
@import "../../../theme/_colors.scss";

.component :global {
  color: $black;

  p{
    line-height: 22px;
  }

  .level.nav{
    margin-top: 15px;
    button{
      margin-right: 5px;
      font-size: 16px;
    }
  }

  div.level.tags{
    margin-bottom: 5px;
  }
}
