@import "../../../../theme/_colors.scss";
@import "../../../../theme/_fonts.scss";
.component :global {
  @import "~bulma/sass/utilities/_all.sass";
  @import "~bulma/sass/elements/tag.sass";

  margin: 20px 0;

  small{
    display: block;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #bbb;

    svg{
      color: $green;
      margin-left: 5px;
    }
  }

  .tags{
    .tag{
      background-color: #fff;

      @extend %sans;
      font-size: 14px;
      line-height: 26px;
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      cursor: pointer;

      &.number{
        border:1px solid $number;
        color: $number;
        &.member{
          color: #fff;
          background-color: $number;
        }
      }
      &.string{
        border:1px solid $string;
        color: $string;
        &.member{
          color: #fff;
          background-color: #777;
          border:1px solid #777;
        }
      }
      &.date{
        border:1px solid $date;
        color: $date;
        &.member{
          color: #fff;
          background-color: $date;
        }
      }
      &.disabled{
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .warning{
    font-size: 14px;
    color: white;
    background-color: $red;
    padding: 5px 7px;
    margin: 0 0 12px;
    svg{
      margin-right: 5px;
    }
    .monospace{
      @extend %monospace;
    }
  }
}
