@import "Theme/_colors.scss";
@import "Theme/_fonts.scss";

.component :global {
  @import "~bulma/sass/utilities/_all.sass";
  @import "~bulma/sass/elements/button.sass";

  color: $black;

  .message p{
    @extend %sans;
    font-size: 14px;
    b{
      color: $red;
      font-weight: bold;
    }
  }
}
