@import "../../../theme/_colors.scss";

.component :global {
  .level.nav{
    margin-top: 30px;
    button{
      font-size: 14px;
      margin-right: 5px;
      &[disabled] {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
