@import "../../../../theme/_fonts.scss";
@import "../../../../theme/_colors.scss";

.component :global {
  color: $black;
  position: relative;

  .table-footer{
    width: 100%;
    position: absolute;
    background-color: #eee;
    height: 12px;
    bottom: 1px;
    left: 1px;
  }

  .table-container{
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: scroll;
    padding-bottom: 12px;
  }

  div.table{
    @extend %monospace;
    div.row{
      white-space: nowrap;
      width: auto;
      div.cell {
        box-sizing: border-box;
        display: inline-block;
        width: 135px;
        &.editing-column{
          background-color: $number-editing;
          border-bottom: 1px solid #ddd;
          &.header{
            border-bottom: 0;
          }
          input{
            background-color: $number-editing;
          }
        }
      }
    }
  }


}
