@import "../../../theme/_colors.scss";
@import "../../../theme/_fonts.scss";
.component :global {
  small{
    color: $black;
  }
  textarea{
    @extend %monospace;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }
  .level.error{
    background-color: $red;
    padding: 8px;
    color: white;
    font-size: 13px;
    margin: 5px 0;
    p{
      margin: 0;
    }
  }
  .level.nav{
    margin-top: 15px;
    button{
      font-size: 16px;
    }
  }
  svg{
    margin-left: 5px;
    margin-top: 8px;
    color: $blue;
  }
}
