@import "Theme/_fonts.scss";
@import "Theme/_colors.scss";

@font-face {
  font-family: "kraftwerk";
  src: url("~Theme/fonts/kraftwerk.ttf") format("truetype");
}

.component :global {
  @import "~bulma/sass/utilities/_all.sass";
  @import "~bulma/sass/components/navbar.sass";

  .navbar{
    background-color: $red;
    @extend %sans;
    .navbar-item{
      font-size: 18px;
      color: $white;
      text-decoration: none;
      .kraftwerk{
        font-family: 'kraftwerk';
        letter-spacing: 1.0px;
        font-weight: normal;
        font-size: 24px;
      }
      &:hover{
        color: $white;
      }
    }
  }
}
