@import "../../../theme/_colors.scss";
.component :global {
  .level.nav{
    margin-top: 35px;
    button{
      margin-right: 5px;
      &[disabled] {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
